*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.lista{
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(198, 213, 218);
    text-align: center;
    margin: 12px auto;
    padding: 10px;
    border: 6px solid rgb(37, 43, 37);
    max-width: 600px;
    border-radius: 12px;
}

.lista li{
    list-style-type: none;
    padding: 20px;
}

.title{
    font-weight: 200;
    font-size: 60px;
    text-align: center;
    margin: 20px ;
}

.lista-o{
    background-color: rgb(185, 185, 151);
    padding: 25px;
    max-width: 600px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    border: 6px solid rgb(37, 43, 37);
    border-radius: 12px;
    font-weight: 400;
}
.lista-o li {
    padding: 6px;
}

#volta{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    color: rgb(87, 54, 54);
    font-size: 25px;
    padding: 15px 20px;
    background-color: rgb(133, 133, 133);
    border-radius: 25px;
}

li{
    color: rgb(41, 9, 9);
}

.li-item{
    color: rgb(10, 36, 58);
}

p {
    font-weight: 200;
    color: blue;
}